Source: erlang-mysql-driver
Section: net
Priority: optional
Maintainer: H. Kerem Cevahir <kerem@medratech.com>
Build-Depends: debhelper (>= 5), cdbs, autotools-dev, libtool, erlang-dev, erlang-nox
Standards-Version: 3.8.0

Package: erlang-mysql-driver
Architecture: any
Depends: erlang-nox
Description: Erlang MySQL Driver
